@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@font-face {
  font-family: 'Disket Mono';
  src: url("../fonts/Disket-Mono-Regular.eot");
  src: local("☺"), url("../fonts/Disket-Mono-Regular.woff") format("woff"), url("../fonts/Disket-Mono-Regular.ttf") format("truetype"), url("../fonts/Disket-Mono-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  overflow-x: hidden;
  font-family: "Roboto";
  font-style: normal;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: #FFFFFF;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #D9D9D9;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #2B901A;
  border-radius: 10px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222629;
  padding: 19px 0;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222629;
  z-index: 3;
}

.container {
  width: 1110px;
  margin: 0 10px;
}

.nameCompany {
  font-family: 'Disket Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-left: 42px;
}

.nameCompany__span {
  color: #2B901A;
}

.header__body {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  position: relative;
  z-index: 5;
  width: 128px;
  height: 31px;
}

.icon-lamp::before {
  position: absolute;
  top: -5px;
  left: 0;
  font-size: 32px;
}

.header__burger {
  display: none;
}

.header__menu {
  display: flex;
}

.header__menu ul {
  display: flex;
}

.header__link {
  position: relative;
  z-index: 5;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.header__link:hover {
  color: #2B901A;
}

.header__right {
  display: flex;
}

.icon-search::before {
  border-left: 1px solid #474A4F;
  height: 18px;
  width: 18px;
  padding: 0;
  padding-left: 20px;
  margin-left: 17px;
}

.space {
  margin-left: 37px;
}

@media (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }

  .content {
    width: calc(310px + (900 - 310) * ((100vw - 320px) / (980 - 320)));
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 5;
    order: 2;
    margin-left: 11px;
  }

  .icon-search::before {
    border-right: 1px solid #474A4F;
    border-left: none;
    height: 18px;
    width: 18px;
    padding: 0;
    padding-right: 10px;
    margin-left: 0px;
  }

  .header__logo {
    position: relative;
    z-index: 5;
    width: 150px;
    height: 35px;
  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 4px;
    top: 8px;
    transition: all .3s ease .2s;
    -webkit-transition: all .3s ease .2s;
    -moz-transition: all .3s ease .2s;
    -ms-transition: all .3s ease .2s;
    -o-transition: all .3s ease .2s;
  }

  .header__burger::before,
  .header__burger::after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    transition: all .3s ease .2s;
    -webkit-transition: all .3s ease .2s;
    -moz-transition: all .3s ease .2s;
    -ms-transition: all .3s ease .2s;
    -o-transition: all .3s ease .2s;
  }

  .header__burger.active::before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    top: 8px;
  }

  .header__burger.active::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    bottom: 8px;
  }

  .header__burger.active span {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }

  .header__link {
    line-height: 1;
  }

  .header__menu {
    position: fixed;
    top: -110%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #121212;
    padding: 70px 10px 20px 10px;
    overflow: auto;
    display: flex;
    justify-content: center;
    transition: all .5s ease .2s;
    -webkit-transition: all .5s ease .2s;
    -moz-transition: all .5s ease .2s;
    -ms-transition: all .5s ease .2s;
    -o-transition: all .5s ease .2s;
  }

  .space {
    margin: 0;
  }

  .header__menu.active {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 5%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222629;
    padding: 70px 10px 20px 10px;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__menu ul {
    display: block;
  }

  .Business {
    margin-right: 0;
  }

  .header__menu ul li {
    display: flex;
    justify-content: center;
    margin: 0 0 35px 0;
    font-size: 30px;
  }
}
.main {
  padding-top: 100px;
  background-color: #2B901A;
}

/*# sourceMappingURL=style.css.map */
