* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  
}

img {
  width: 100%;
}

li {
  list-style-type: none;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.content {
  width: 1240px;
  justify-content: center;
}

.header {
  background-color: #1A1E29;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  padding: 0 40px 0 40px;
}

.header__list {
  display: flex;
  color: #FFFFFF;
  align-items: center;
}

.header__item {
  justify-content: center;
  align-items: center;
}

.header__item a {
  color: #FFFFFF;
  padding: 27px 36px 28px 16px;
}

.icons {
  width: 12px;
}

.logo__img {
  margin: 8px;
  background-color: #1A1E29;
  width: 64px;
  height: 64px;
}

.main {
  position: relative;
}

.main__image {
  position: absolute;
}

._ibg img {
  width: 100%;
  /* position: absolute; */
}

.main {
  display: grid;
}

.main__block__container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 50%;
  margin-top: 5%;
  justify-content: center;
  width: 600px;

}

.main__block__container p {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: #FFFFFF;
  background-color: #FF7E00;

}

.bloc__button {
  margin-left: 50%;
  margin-top: 15%;
  position: absolute;
  padding: 12px 24px;
  background-color: #fff;
  border: 1px solid #FF7E00;
  border-radius: 5px;
  color: #FF7E00;
}

.block2 {
  position: absolute;
  margin-top: 300px;
  border-radius: 50px;
  width: 100%;
  height: 100%;
}

.block2__content {
  width: 1224px;
  height: 160px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #000;
}

.block2__title {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: rgb(0, 0, 0);
}

select {
  width: 180px;
  height: 40px;
  margin: 8px;
}

.block2__button {
  margin: 16px;
}

.block2__button__item {
  width: 232px;
  height: 40px;
  background-color: #FF7E00;
  color: #FFFFFF;
  padding: 12px 80px;
}

.block3 {
  margin-top: 300px;
}

.block3__title {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #1A1E29;
  margin: 30px;
}

.cards {
  display: flex;
  position: relative;
}

.card {
  width: 390px;
  margin: 12px;
}

.card__info {
  padding: 15px;
  margin: 10px;
  height: 140px;
  transform: translateY(-50px);
  border-radius: 16px;
  background-color: #FFFFFF;
}

.card__title {
  margin-bottom: 15px;
  padding: 10px;
  font-family: IBM Plex Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.card__info p {
  margin: 10px;
}

.time::before {
  content: url('./img/time.png');
  background-repeat: no-repeat;
  padding: 0 5px 0 0;
}

.block3__button {
  position: absolute;
  margin-top: 430px;
  width: 100%;
}

.block3__button__item {
  position: relative;
  transform: translateX(-50);
  left: 38%;
  width: 232px;
  height: 40px;
  background-color: #ffffff;
  color: #FF7E00;
  padding: 12px 80px;
  border: 1px solid #FF7E00;
}

.block4 {
  position: relative;
}

.container {}

.block4__content {}

.block4__title {
  margin-top: 25px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #1A1E29;
}

.shins {
  display: flex;
}

.card__shin {
  border: 1px solid #1A1E29;
  margin: 10px;
}

.shin__img {
  width: 280px;
  height: 280px;
}

.shin__title {
  font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 32px;
color: #1A1E29;
}

.dopInf {
  margin: 10px 0 30px 0;
}
.dopInf img{
  height: 14px;
  width: 14px;
}

.present {
  font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: #6A6A6A;
}

.costs {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.cena{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 24px;
gap: 10px;
color: #FFFFFF;
width: 168px;
height: 40px;
background: #FF7E00;
border-radius: 2px;
}
.liles{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px;
gap: 10px;
width: 40px;
height: 40px;
background: #ff8000a5;
border: 1px solid #EFD8C3;
border-radius: 2px;
}

.coltent__shin{
  margin: 20px;
}
.block4__button {
  position: absolute;
  margin-top: 550px;
  width: 100%;
}

.block4__button__item {
  position: relative;
  transform: translateX(-50);
  left: 38%;
  width: 232px;
  height: 40px;
  background-color: #ffffff;
  color: #FF7E00;
  padding: 12px 80px;
  border: 1px solid #FF7E00;
}
.block5{
  margin-top: 50px;
}
.block6{
  margin-top: 50px;
}
.block6__button {
  position: absolute;
  margin-top: 500px;
  width: 100%;
}

.block6__button__item {
  position: relative;
  transform: translateX(-50);
  left: 38%;
  width: 232px;
  height: 40px;
  background-color: #ffffff;
  color: #FF7E00;
  padding: 12px 80px;
  border: 1px solid #FF7E00;
}
.content7{
  display: flex;
  width: 100%;
}
.block7{
  margin-top: 100px;
}
.block7__img{
  display: flex;
  width: 600px;
  height: 400px;
}
.logoOnImage{
  z-index: 10;
  position: absolute;
}
.block7__mainImage img{
  position: absolute;

  left: 0px;
  top: 2816px;
}
.block7__info{
  width: 50%;
  margin: 16px;
}
.block7__button {
  position: absolute;
  padding: 12px 24px;
  background-color: #fff;
  border: 1px solid #FF7E00;
  border-radius: 5px;
  color: #FF7E00;
}
.text__info p{
  font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #6A6A6A;

}
.title__info{
  font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 48px;
color: #1A1E29;
}
.block7__button{
  margin-left: 25%;
  transform: translateX(-50%);
}
.logoOnImage{
  margin: 0 0 0 24px;
  background-color: #1A1E29;
  width: 112px;
  height: 120px;
  padding: 16px;
}

footer{
  margin-top: 15px;
  margin-bottom: 15px;
  border-top: 2px solid #1a1e291b;
}
.footer__content{
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
}
.grid{
  display: flex;
  flex-direction: column;
  grid-gap: 5px;
  
}

.phone{
  margin-top: 24px;
  display: flex;
  justify-content: center;
}
.grid__footer3{
  align-items: center;
}
.footer__title{
  margin-top: 30px;
  font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #FF7E00;
margin-left: 10px;
}
.footer__logo{
  display: flex;
  width: 80px;
  height: 80px;
  padding: 10px;
  background-color: #1a1e291b;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.footer__button{
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px;
  background-color: #fff;
  border: 1px solid #FF7E00;
  border-radius: 5px;
  color: #FF7E00;
}
.f1{
  display: flex;
  justify-content: center;
}
.soc{
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.soc a {
  margin: 50px 10px 10px;
  padding: 5px;
  width: 25px;
  height: 25px;
  border: 1px solid #FF7E00;
  border-radius: 3px;
}
.fb{
  margin-top: 16px;
}
.footer__info ul li{
  font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: #1A1E29;
margin: 8px;
}










