body{
    background-color: #333;
}
.calc {
    margin: 50px auto;
    width: 300px;
    height: 500px;
    border: 1px solid #000;
    border-radius: 20px;
    background: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 14px;
    box-shadow: 4px 4px 4px #4f4f4f;
}

.buttons {
    display: grid;
    grid-template-areas: "ac plus-minus persent division" "seven eight nine myltiply" "four five six minus" "one two three plus" "zero zero dot equal";
    grid-gap: 7px;
    justify-items: center;
}

.btn.zero {
    grid-area: zero;
    width: 100%;
    border-radius: 32px;
}
.calc-screen{
    display: grid;
    height: 125px;
    padding: 10px;
    justify-items: end;
    align-items: end;
    margin-bottom: 20px;background: rgb(16, 16, 16);
    border-radius: 10px;
}
.calc-screen p{
    text-align: right;
    font-size: 4rem;
    margin: 0;
}

.btn {
    width: 60px;
    height: 60px;
    background: #333;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
}

.btn:hover {
    filter: brightness(150%);
}

.btn:active {
    filter: brightness(50%);
}

.bg-grey {
    background: rgb(130, 130, 130);
}

.bg-orange {
    background: rgb(255, 81, 0);
}