@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@font-face {
  font-family: 'Disket Mono';
  src: url("../fonts/Disket-Mono-Regular.eot");
  src: local("☺"), url("../fonts/Disket-Mono-Regular.woff") format("woff"), url("../fonts/Disket-Mono-Regular.ttf") format("truetype"), url("../fonts/Disket-Mono-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  overflow-x: hidden;
  font-family: "Roboto";
  font-style: normal;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

::-webkit-scrollbar {
  z-index: 100;
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #D9D9D9;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #2B901A;
  border-radius: 10px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222629;
  padding: 17px 0 13px;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222629;
  z-index: 3;
}

.container {
  width: 1110px;
  margin: 0 10px;
}

.nameCompany {
  font-family: 'Disket Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-left: 36px;
}

.nameCompany__span {
  color: #2B901A;
}

.header__body {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  position: relative;
  z-index: 5;
  width: 128px;
  margin-top: 5px;
  height: 31px;
}

.icon-lamp::before {
  position: absolute;
  top: -4px;
  left: -4px;
  font-size: 30px;
}

.header__burger {
  display: none;
}

.header__menu {
  display: flex;
}

.header__menu ul {
  display: flex;
}

.header__link {
  position: relative;
  z-index: 5;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin-top: 2px;
  color: #FFFFFF;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.header__link:hover {
  color: #2B901A;
}

.header__right {
  display: flex;
  margin: -2px 2px 0 0;
}

.icon-search::before {
  border-left: 1px solid #474A4F;
  height: 18px;
  width: 18px;
  padding: 0;
  padding-left: 20px;
  margin-left: 20px;
}

.space {
  margin-left: 36px;
}

@media (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }

  .content {
    width: calc(310px + (900 - 310) * ((100vw - 320px) / (980 - 320)));
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 5;
    order: 2;
    margin-left: 11px;
  }

  .icon-search::before {
    border-right: 1px solid #474A4F;
    border-left: none;
    height: 18px;
    width: 18px;
    padding: 0;
    padding-right: 10px;
    margin-left: 0px;
  }

  .header__logo {
    position: relative;
    z-index: 5;
    width: 150px;
    height: 35px;
  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 4px;
    top: 8px;
    transition: all .3s ease .2s;
    -webkit-transition: all .3s ease .2s;
    -moz-transition: all .3s ease .2s;
    -ms-transition: all .3s ease .2s;
    -o-transition: all .3s ease .2s;
  }

  .header__burger::before,
  .header__burger::after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    transition: all .3s ease .2s;
    -webkit-transition: all .3s ease .2s;
    -moz-transition: all .3s ease .2s;
    -ms-transition: all .3s ease .2s;
    -o-transition: all .3s ease .2s;
  }

  .header__burger.active::before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    top: 8px;
  }

  .header__burger.active::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    bottom: 8px;
  }

  .header__burger.active span {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }

  .header__link {
    line-height: 1;
  }

  .header__menu {
    position: fixed;
    top: -110%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #121212;
    padding: 70px 10px 20px 10px;
    overflow: auto;
    display: flex;
    justify-content: center;
    transition: all .5s ease .2s;
    -webkit-transition: all .5s ease .2s;
    -moz-transition: all .5s ease .2s;
    -ms-transition: all .5s ease .2s;
    -o-transition: all .5s ease .2s;
  }

  .space {
    margin: 0;
  }

  .header__menu.active {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 5%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222629;
    padding: 70px 10px 20px 10px;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__menu ul {
    display: block;
  }

  .Business {
    margin-right: 0;
  }

  .header__menu ul li {
    display: flex;
    justify-content: center;
    margin: 0 0 35px 0;
    font-size: 30px;
  }
}
.main {
  padding-top: 64px;
}
.main .main__top {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}
.main .main__top .main__topImg {
  width: 100%;
  margin-top: 1px;
}
.main .main__top .main__topText {
  position: absolute;
  width: max-content;
  max-width: 1110px;
  bottom: 63px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.main .main__top .main__topText-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 22px;
}
.main .main__top .main__topText-subTitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */
  text-align: center;
  color: #2B901A;
}
.main .main__block1 {
  margin: 116px 0 102px;
}
.main .main__block1 .container {
  width: 1110px;
  margin: 0 auto;
}
.main .main__block1 .title {
  margin-bottom: 21px;
  margin-left: -1px;
}
.main .main__block1 .block1__content {
  display: flex;
  margin: 0px 0px 0 -18px;
}
.main .main__block1 .block1__content-img {
  height: 249px;
  width: 398px;
}
.main .main__block1 .block1__content-imgImg {
  height: 100%;
}
.main .main__block2 {
  background: url(../img/image\ 21.jpg);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.main .main__block2 .container {
  margin: 0 auto;
  padding: 36px 0 1px;
}
.main .main__block2 .block2__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  /* identical to box height */
  text-transform: uppercase;
  color: #434343;
}
.main .main__block2 .block2__subTitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
  color: #434343;
  margin: 0 0 0 5px;
}
.main .main__block2 .block2__subTitle2 {
  margin: 15px 0 37px 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  color: #434343;
}
.main .main__block2 .dropdown__title {
  font-weight: 500;
  margin-bottom: 10px;
}
.main .main__block2 .block2__dropdowns {
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 1px;
}
.main .main__block2 .btn__go {
  padding: 13px 0 11px;
  display: inline-block;
  background: #2B901A;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 220px;
  display: flex;
  justify-content: center;
  margin: 56px auto 51px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  text-align: center;
  color: #FFFFFF;
}
.main .main__block2 .block2__dropdown {
  width: 254px;
}
.main .main__block3 {
  padding: 110px 0 116px;
}
.main .main__block3 .container {
  margin: 0 auto;
}
.main .main__block3 .block3__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  text-transform: uppercase;
  color: #434343;
  margin: 0 0 0 1px;
}
.main .main__block3 .block3__make {
  display: flex;
  margin: 21px 0 35px;
}
.main .main__block3 .show__more-btn {
  margin: -1px -2px 0 22px;
}
.main .main__block3 .block3__colon {
  display: flex;
  width: 40%;
  justify-content: space-between;
}
.main .main__block3 .block3__colon:nth-child(even) {
  margin-left: 126px;
}
.main .main__block3 .listItem-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  /* or 222% */
  color: #2B901A;
}
.main .main__block3 .listItem-link:hover {
  color: #434343;
}
.main .main__block3 .show__more {
  margin: 0 0 0 0;
}
.main .main__block4 {
  background: #EBEBEB;
  margin: -4px 0 0 0;
  padding: 66px 0 66px;
}
.main .main__block4 .container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1110px;
}
.main .main__block4 .popularBulb {
  margin: 2px 0 0 12px;
}
.main .main__block4 .form__group {
  height: 42px;
}
.main .main__block4 .dropdown {
  margin-top: -3px;
  margin-right: 95px;
  width: 445px;
}
.main .main__block4 .dropdown__list .dropdown__lists {
  width: 99%;
}
.main .main__block4 .dropdown__input-hidden {
  display: none;
}
.main .main__block5 {
  line-height: 28px;
  margin: 118px 0 85px 0;
}
.main .main__block5 .container {
  width: 1110px;
  margin: 0 auto;
}
.main .main__block5 .show__more {
  margin: 45px 0 0 0;
}
.main .main__block5 .show__more .icon-pointsArrow::before {
  margin: 0 2px 0 0;
  font-size: 12px;
}
.main .year__block1 {
  font-family: 'Roboto';
  font-style: normal;
  color: #434343;
}
.main .year__block1 .title {
  margin: 0 0px 0 -2px;
}
.main .year__block1 .icon-pointsArrow::before {
  color: #2B901A;
  font-size: 24px;
}
.main .year__block1 .sybtitle {
  margin: 12px 0 28px;
}
.main .year__block2 {
  font-family: 'Roboto';
  font-style: normal;
  color: #434343;
  padding: 39px 0 44px;
  background: url(../img/imagep.jpg);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.main .year__block2 .container {
  display: flex;
  justify-content: space-between;
}
.main .year__block2 .block2__left {
  width: 50%;
}
.main .year__block2 .title {
  font-weight: 600;
  font-size: 26px;
  line-height: 30px;
  text-transform: uppercase;
}
.main .year__block2 .subTitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin: 2px 0 0 0;
}
.main .year__block2 .block2__right {
  padding: 6px 200px 0 15px;
  width: 50%;
}
.main .year__block2 .view {
  display: flex;
  justify-content: space-between;
}
.main .year__block2 .side .side__link {
  font-weight: 400;
  font-size: 24px;
  line-height: 41px;
  color: #434343;
  display: flex;
  align-items: center;
  background-image: linear-gradient(to right, #434343 75%, transparent 75%);
  background-position: 1px 35px;
  background-repeat: repeat-x;
  background-size: 7px 2px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.main .year__block2 .side:hover .side__link {
  color: #2B901A;
  background-image: linear-gradient(to right, #2B901A 75%, transparent 75%);
}
.main .year__block3 {
  margin-top: 53px;
}
.main .year__block3 .product {
  margin-bottom: 93px;
}
.main .year__block3 .product__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 28px;
  color: #434343;
}
.main .year__block3 .title {
  /* or 117% */
  color: #434343;
}
.main .year__block3 .product__topBtn {
  width: 184px;
  height: max-content;
  cursor: pointer;
  background-color: #2B901A;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 13px 17px 11px 16px;
  margin: -10px 101px 0 0;
}
.main .year__block3 .check {
  font-weight: 500;
  white-space: nowrap;
  text-transform: uppercase;
  margin: 0;
  color: #FFFFFF;
}
.main .year__block3 .arrow {
  margin-left: 28px;
  width: 14px;
  height: 7px;
}
.main .year__block3 .type {
  display: flex;
  gap: 25px;
}
.main .year__block3 .info__list {
  margin: 7px 0 0 0;
}
.main .year__block3 .type__btn {
  cursor: pointer;
  width: 184px;
  padding: 13px 0 11px;
  background: #C9C9C9;
  border-radius: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #434343;
}
.main .year__block3 .selectedView {
  color: #FFFFFF;
  background: #2B911A;
}
.main .year__block3 .lamp {
  margin: 0px 0 31px 0;
  padding-top: 56px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.main .year__block3 .lamp + .lamp {
  border-top: 1px solid #C9C9C9;
}
.main .year__block3 .lamp__img {
  min-width: 119px;
  margin-right: 28px;
  margin-left: 5px;
}
.main .year__block3 .lamp__imgImg {
  width: 100%;
}
.main .year__block3 .lamp__info {
  width: 100%;
}
.main .year__block3 .info__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 59px;
  color: #434343;
}
.main .year__block3 .show__more {
  margin: -9px 0 0 0;
}
.main .year__block3 .show__more-btn {
  margin: 1px 5px 0 22px;
  text-transform: uppercase;
}
.main .year__block3 .showMore__productBtn {
  cursor: pointer;
  margin: -27px auto 79px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  padding: 13px 0 11px;
  background-color: #2B901A;
  width: 184px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.main .year__block3 .gorizont__line100 {
  width: 100%;
}
.main .year__block4 {
  margin-bottom: 57px;
}
.main .year__block4 .block4__title {
  font-weight: 600;
  line-height: 33px;
  margin: 0 0 26px -1px;
}
.main .year__block4 .block4__paragraf {
  margin: 0 1px 27px 3px;
}
.main .year__block4 .centrPoint {
  top: -4px;
}
.main .year__block4 .icon-circles {
  position: relative;
}
.main .year__block4 .icon-circles::before {
  color: #2B901A;
  font-size: 14px;
  margin-right: 2px;
}
.main .year__block4 .centrPoint {
  width: 4px;
  position: absolute;
  top: 7px;
  left: 1px;
  transform: translate(102%, 222%);
  -webkit-transform: translate(102%, 222%);
  -moz-transform: translate(102%, 222%);
  -ms-transform: translate(102%, 222%);
  -o-transform: translate(102%, 222%);
}
.main .year__block5 {
  margin-top: 107px;
  margin-bottom: 100px;
}
.main .year__block5 .title {
  font-weight: 600;
  font-size: 26px;
  line-height: 30px;
  text-transform: uppercase;
  margin: -1px 0 43px 3px;
  color: #434343;
}
.main .year__block5 .yearsBtn {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 36px;
  margin: 0 0 0 1px;
}
.main .year__block5 .yearsBtn__btn {
  cursor: pointer;
  width: 154px;
  padding: 13px 0 11px;
  background: #2B911A;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  /*or156%*/
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.main .year__block5 .yearsBtn__btn:hover {
  background: #C9C9C9;
  color: #434343;
}
.main .car__block1 h1 {
  margin: 0 0 12px -3px;
}
.main .car__block1 .icon-pointsArrow::before {
  color: #2B901A;
  font-size: 24px;
}
.main .car__block2 {
  margin: 0 0 32px 0;
}
.main .car__block2 h2 {
  margin: 71px -2px 78px;
  text-transform: none;
}
.main .car__block2 .icon-pointsArrow::before {
  color: #2B901A;
  font-size: 24px;
}
.main .car__block2 .searhBulb {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main .car__block2 .searchLi {
  width: 256px;
  border-bottom: 1px solid #C9C9C9;
  margin-bottom: 40px;
}
.main .car__block2 .searchLi a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 45px;
  margin-bottom: 11px;
  display: inline-block;
  /*or117%*/
  color: #434343;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.main .car__block2 .searchLi__link:hover {
  color: #2B901A;
}
.main .car__block3 {
  margin-bottom: 50px;
}
.main .model__block1 .title {
  margin: 0 0 12px -3px;
}
.main .model__block1 .icon-pointsArrow::before {
  color: #2B901A;
  font-size: 24px;
}
.main .model__block1 .paragref {
  margin: 0 0 28px -1px;
}
.main .model__block2 .title {
  text-transform: none;
  margin: 44px 3px 60px;
}
.main .model__block2 .icon-pointsArrow::before {
  color: #2B901A;
  font-size: 24px;
}
.main .model__block2 .searhYear {
  display: flex;
  flex-wrap: wrap;
  column-gap: 39px;
}
.main .model__block2 .searcYearBtn {
  width: 335px;
  display: flex;
  border-bottom: 1px solid #C9C9C9;
  padding-bottom: 24px;
  margin-left: 7px;
  margin-bottom: 31px;
}
.main .model__block2 .searcYearBtn .moreInfo {
  margin: 0;
}
.main .model__block2 .rightColomn {
  display: flex;
  justify-content: start;
  flex-direction: column;
  margin-left: 30px;
  margin-top: -2px;
}
.main .model__block2 .moreInfoThem {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  color: #2B901A;
}
.main .model__block2 .searcYearBtn__link {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2B901A;
  border-radius: 10px;
  padding: 13px 0 12px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  width: 159px;
  text-align: center;
  text-transform: uppercase;
  height: max-content;
  color: #FFFFFF;
}
.main .model__block3 {
  margin: 52px 0px 32px 22px;
}
.main .type__block1 {
  font-family: 'Roboto';
  font-style: normal;
  color: #434343;
}
.main .type__block1 .title {
  margin: 0 0 0 -1px;
}
.main .type__block1 .sybtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin: 12px 0px 0px 1px;
}
.main .type__block3 {
  margin: 15px 0 0 2px;
}
.main .type__block3 .product {
  margin-bottom: 59px;
}
.main .type__block3 h3 {
  margin-bottom: -11px;
  text-transform: none;
  font-size: 28px;
  padding: 0px 0 0px 6px;
}
.main .type__block3 .product__topBtn {
  width: max-content;
  height: max-content;
  cursor: pointer;
  background-color: #2B901A;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 13px 17px 12px 16px;
}
.main .type__block3 .check {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  white-space: nowrap;
  text-transform: uppercase;
  color: #FFFFFF;
}
.main .type__block3 .arrow {
  margin-left: 20px;
  width: 14px;
  height: 7px;
}
.main .type__block3 .type {
  display: flex;
  gap: 25px;
  margin: 0 0 65px -1px;
}
.main .type__block3 .type__btn {
  cursor: pointer;
  width: 184px;
  height: 52px;
  padding: 13px 0 12px;
  background: #C9C9C9;
  border-radius: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #434343;
}
.main .type__block3 .selectedView {
  color: #FFFFFF;
  background: #2B911A;
}
.main .type__block3 .centrPoint {
  width: 4px;
  position: absolute;
  top: 7px;
  left: 1px;
  transform: translate(102%, 222%);
  -webkit-transform: translate(102%, 222%);
  -moz-transform: translate(102%, 222%);
  -ms-transform: translate(102%, 222%);
  -o-transform: translate(102%, 222%);
}
.main .type__block3 .icon-circles::before {
  color: #2B901A;
  font-size: 14px;
  margin-right: 2px;
}
.main .type__block3 .info__list {
  margin-top: 7px;
  margin-left: 0;
}
.main .type__block3 .lamp {
  margin: 0px 0 36px -1px;
  padding-top: 49px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.main .type__block3 .lamp + .lamp {
  border-top: 1px solid #C9C9C9;
}
.main .type__block3 .lamp__img {
  min-width: 119px;
  margin-right: 28px;
  margin-left: 5px;
}
.main .type__block3 .lamp__imgImg {
  width: 100%;
}
.main .type__block3 .lamp__info {
  width: 100%;
}
.main .type__block3 .info__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 59px;
  color: #434343;
}
.main .type__block3 .show__more {
  margin: -9px 0 0 0;
}
.main .type__block3 .gorizont__line {
  width: 970px;
}
.main .type__block3 .show__more-btn {
  margin: 0px -4px 0 0px;
  text-transform: uppercase;
}
.main .type__block3 .showMore__productBtn {
  cursor: pointer;
  margin: 0 auto 80px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  padding: 13px 0 12px;
  background-color: #2B901A;
  width: 184px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.main .type__block3 + .year__block4 {
  margin-top: 67px;
}
.main .about__block1 .title {
  margin: 0 0 12px 0;
}
.main .about__block1 .icon-pointsArrow::before {
  font-size: 24px;
  color: #2B911A;
}
.main .about__block1 .paragraf {
  margin: 0 0 28px 2px;
}
.main .about__block2 {
  margin: 33px 0 57px 1px;
}
.main .about__block2 .container {
  position: relative;
}
.main .about__block2 .image__block2 {
  width: 100%;
}
.main .about__block2 .publish {
  position: absolute;
  right: 21px;
  bottom: 12px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 39px;
  border-top: 1px solid #C9C9C9;
  color: #FFFFFF;
}
.main .about__block3 {
  margin-bottom: 47px;
}
.main .about__block3 .title {
  margin: 59px 0 17px 2px;
}
.main .about__block3 .icon-pointsArrow::before {
  font-size: 24px;
}
.main .about__block3 .paragraf {
  margin: 0 0 0 2px;
}
.main .about__block4 {
  margin: 0 0 41px 4px;
}
.main .about__block4 .title {
  margin: 0 0 17px 1px;
}
.main .about__block5 {
  margin: 30px 0 35px;
}
.main .about__block5 .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .about__block6 {
  margin: 0 0 0 4px;
}
.main .about__block6 .paragraf {
  margin: 0 0 28px 0;
}
.main .about__block7 {
  margin: 0 0 0 0;
}
.main .about__block7 .info__list {
  margin: -5px 0 26px 59px;
}
.main .about__block8 {
  margin: 0 0 47px 0;
}
.main .about__block8 .title {
  /* or 140% */
  margin: 0 0 17px 8px;
}
.main .about__block8 .paragraf {
  margin: 0px 0 28px 2px;
}
.main .about__block9 {
  margin: 0 0 30px 0;
}
.main .about__block9 .title {
  /* or 140% */
  margin: 0 0 18px 8px;
}
.main .about__block9 p {
  margin: 0 -1px 0 2px;
}
.main .about__block10 {
  margin-bottom: 44px;
}
.main .about__block10 .title {
  /* or 140% */
  margin: 0 0 17px 8px;
}
.main .about__block10 p {
  margin: 0 0 0 2px;
}
.main .about__block11 {
  background: url(../img/image\ 21.jpg);
  background-size: cover;
  padding: 32px 0 28px;
  margin-bottom: 52px;
}
.main .about__block11 h6 {
  /* or 140% */
  margin: 0 0 20px 8px;
}
.main .about__block11 .realProjects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 26px -1px 0 1px;
}
.main .about__block11 .show__more-btn {
  text-transform: uppercase;
  display: flex;
  justify-content: end;
  margin: 39px 0 -8px 0;
}
.main .about__block11 .show__more-btn .icon-pointsArrow::before {
  margin: 0 -2px 0 12px;
}
.main .about__block11 .example {
  width: 255px;
}
.main .about__block11 .example h6 {
  /* or 140% */
  margin: 7px 0 0 1px;
}
.main .about__block11 .example__img {
  min-width: 100%;
}
.main .about__block12 {
  margin-bottom: 38px;
}
.main .about__block12 h6 {
  /* or 140% */
  margin: 0 0px 17px 8px;
}
.main .about__block12 p {
  margin: 0 0 0px 2px;
}
.main .about__block13 {
  margin-bottom: 21px;
}
.main .about__block13 h6 {
  /* or 140% */
  margin: 0px 0 17px 8px;
}
.main .about__block13 p {
  padding: 0 0 0 2px;
}
.main .about__block13 .team {
  margin: -4px 0px 0 1px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main .about__block13 .team__card {
  width: 349px;
}
.main .about__block13 .team__card p {
  padding: 0 0 0px 2px;
}
.main .about__block13 .card__top {
  display: flex;
}
.main .about__block13 .person {
  width: 190px;
}
.main .about__block13 .person__img {
  min-width: 100%;
}
.main .about__block13 .person__info {
  position: relative;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main .about__block13 .person__info h6 {
  margin: 0 0 0 0;
  font-weight: 500;
  /* or 140% */
}
.main .about__block13 .person__links {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  bottom: 19px;
  gap: 5px;
  padding: 5px 0 0 0;
}
.main .about__block13 .person__links a {
  bottom: 0;
}
.main .about__block13 .card__text {
  margin: 16px 0 0 -1px;
}
.main .about__block14 {
  margin-bottom: 54px;
}
.main .about__block14 h6 {
  margin: 0 0 28px 8px;
}
.main .about__block14 p {
  padding: 0 6px 0px 2px;
}
.main .product__block1 h1 {
  text-transform: none;
}
.main .product__block1 .product__mainInfo {
  display: flex;
  justify-content: space-between;
  margin: 31px 0 0 0;
}
.main .product__block1 .left {
  margin: 0 0 0 1px;
}
.main .product__block1 .maipImg {
  width: 635px;
  margin: 0 0 20px 0;
  padding: 6px 0 0 0;
}
.main .product__block1 .maipImg img {
  min-width: 100%;
}
.main .product__block1 .smollImg {
  display: flex;
  justify-content: space-between;
}
.main .product__block1 .smollImg img {
  min-width: 94px;
}
.main .product__block1 .right {
  margin: 0 -2px 0 0;
  width: 446px;
}
.main .product__block1 .info__list {
  margin: 8px 0 20px 0;
}
.main .product__block1 .parTop {
  margin: 32px 0 13px 0;
}
.main .product__block1 .dropdown__list {
  background: #FFFFFF;
}
.main .contact__block1 .title {
  margin-bottom: 12px;
}
.main .contact__block1 .paragraf {
  padding: 0 0 0 1px;
}
.main .contact__form {
  margin: 27px 0 57px 0;
  background: url(../img/image\ 21.jpg);
  background-size: cover;
  padding: 35px 0 38px;
}
.main .contact__form .form__top {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.main .contact__form .top__colons {
  width: 350px;
}
.main .contact__form .titleInput {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  margin-bottom: 2px;
  color: #434343;
}
.main .contact__form .input {
  width: 350px;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid #DFDFDF;
  padding: 17px 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.main .contact__form .input:focus-within {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 1px #ababab;
}
.main .contact__form .inputIn {
  width: 330px;
  height: 52px;
  background: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;
  color: #000000;
}
.main .contact__form .form__midle {
  margin: 6px 0 20px 0;
}
.main .contact__form .midle__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #434343;
  margin: 0px 0 17px 0;
}
.main .contact__form .midle__radios {
  display: flex;
  justify-content: space-between;
  /* handle if you want label on the left of the checkmark instead */
  /* label  */
  /* checkmark */
}
.main .contact__form .midle__radios .radio__group {
  width: 265px;
  margin: 0 -10px 0 0px;
}
.main .contact__form .midle__radios .custom-radio-btn {
  --size: 16px;
  min-width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0 0 10px 0;
  position: relative;
  padding-left: var(--size);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  color: #434343;
}
.main .contact__form .midle__radios .custom-radio-btn input {
  display: none;
}
.main .contact__form .midle__radios .custom-radio-btn .label {
  margin-left: 8px;
  margin-top: 1px;
}
.main .contact__form .midle__radios .custom-radio-btn[aria-label]::after {
  content: attr(aria-label);
  display: inline-block;
  margin-left: 5px;
}
.main .contact__form .midle__radios .custom-radio-btn .checkmark {
  --gap: 3px;
  --border: 1px;
  --check-color: #2B911A;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: inline-block;
  transition: opacity 0.3s ease;
  /* changes from the video  */
  border: var(--border) solid #C2C2C2;
  padding: var(--gap);
  position: absolute;
  top: 0;
  left: 0;
}
.main .contact__form .midle__radios .custom-radio-btn.left .checkmark {
  left: auto;
  right: 0;
}
.main .contact__form .midle__radios .custom-radio-btn input:checked ~ .checkmark {
  /* changes from the video  */
  /*  content box origin will make sure the bg-image only stays inside content area in between padding  */
  background-origin: content-box;
  background-repeat: no-repeat;
  background-image: radial-gradient(circle at center, var(--check-color) calc((var(--size) - (var(--border) * 2) - (var(--gap) * 2)) / 2), rgba(255, 255, 255, 0) 0);
}
.main .contact__form .form__bottom {
  width: 100%;
  justify-content: end;
}
.main .contact__form .bottom__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  color: #434343;
}
.main .contact__form .textarea__cover {
  background-color: #FFFFFF;
  border: 1px solid #C2C2C2;
  padding: 10px 3px 10px 10px;
  width: 100%;
  margin: 1px 0 0 0;
  height: 147px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: text;
}
.main .contact__form .textarea {
  width: 100%;
  height: 100%;
  resize: none;
  outline: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;
  color: #000000;
}
.main .contact__form .formBtn {
  display: flex;
  justify-content: flex-end;
  margin-top: 45px;
}
.main .contact__form .sendBtn {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  /*or156%*/
  width: 184px;
  background-color: #2B901A;
  padding: 13px 12px 11px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.main .contact__form ::-webkit-scrollbar {
  z-index: 0;
  width: 8px;
}
.main .contact__form ::-webkit-scrollbar-track {
  background: #D9D9D9;
  border-radius: 10px;
}
.main .contact__form ::-webkit-scrollbar-thumb {
  background: #2B901A;
  border-radius: 10px;
}

p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #434343;
  margin: 0 0 28px 0;
}

.paregraf__link {
  color: #2B901A;
  font-weight: 500;
}

.icon-pointsArrow::before {
  color: #2B901A;
}

li {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  /* or 156% */
  color: #434343;
}

.show__more {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin: 5px 0 0 0;
}

.gorizont__line {
  border-bottom: 1px solid #B5B5B5;
  transform: rotate(180deg);
  width: 100%;
}

.show__more-btn {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #2B901A;
  margin: 0 -2px 0 22px;
  white-space: nowrap;
}
.show__more-btn .icon-pointsArrow::before {
  font-size: 13px;
  margin: 0 2px 0 -3px;
}

.icon-circles {
  position: relative;
}

.icon-circles::before {
  color: #2B901A;
  font-size: 14px;
  margin-right: 2px;
}

.centrPoint {
  width: 4px;
  position: absolute;
  top: 7px;
  left: 1px;
  transform: translate(102%, 222%);
  -webkit-transform: translate(102%, 222%);
  -moz-transform: translate(102%, 222%);
  -ms-transform: translate(102%, 222%);
  -o-transform: translate(102%, 222%);
}

.form__group {
  height: 42px;
}

.eps {
  opacity: 0;
}

.eps .dropdown__lists {
  display: none;
}

.dropdown {
  width: 184px;
  margin: -6px 0 0 0;
  position: relative;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.one {
  margin: 0 auto;
}

.dropdown__button {
  white-space: nowrap;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 52px;
  text-align: left;
  background: #2B901A;
  padding: 13px 7px 13px 8px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -ms-border-radius: 10px 10px 10px 10px;
  -o-border-radius: 10px 10px 10px 10px;
  z-index: 3;
  border: none;
}

.dropdown__arrow {
  position: relative;
  right: 6px;
  top: 0px;
  margin: 0 -7px 0 34px;
  width: 15px;
}

.dropdown__list {
  height: 137px;
  display: none;
  position: absolute;
  z-index: 0;
  left: 0px;
  top: 44px;
  width: 100%;
  padding: 12px 5px 0 5px;
  border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  -ms-border-radius: 0px 0px 10px 10px;
  -o-border-radius: 0px 0px 10px 10px;
  background: none;
  border: 1px solid #434343;
  border-top: none;
}

.dropdown__list .dropdown__lists {
  border-top: none;
  overflow-y: scroll;
  height: 117px;
  margin: 8px 0 0 0;
}

.dropdown__list--visible {
  display: block;
}

.dropdown__button--active {
  z-index: 10;
  border: 2px solid #2B901A;
  color: #2B901A;
  background-color: #FFFFFF;
}

.dropdown__list-item {
  margin: 0 10px 0 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
  color: #434343;
  padding: 0px 10px;
  border-bottom: 1px solid #C9C9C9;
  cursor: pointer;
}

.dropdown__list-item:first-child {
  margin-top: 0px;
}

.dropdown__list-item:hover {
  color: #2B901A;
}

.dropdown__input-hidden {
  display: none;
}

.status {
  margin-top: 45px;
  margin-left: 28px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #222629;
}

.popular {
  color: #2B901A;
}

.uniq {
  color: #A10202;
}

.crumbs {
  width: calc(1110px + (1110 - 1110) * ((100vw - 320px) / (1920 - 320)));
  margin: 22px auto 25px;
}

.crumbs .container {
  margin-left: -1px;
  display: flex;
  margin-top: 0px;
}

.crumbs .container .crumb {
  display: inline-block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #434343;
  padding-right: 7px;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}

.crumbs .container .crumb:hover {
  color: #2B901A;
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
}

.crumbs .container .crumb + .crumb::before {
  content: "|";
  padding-right: 7px;
  color: #2B901A;
}

.crumbs .crumb:last-child {
  color: #2B901A;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.unique .form__group {
  height: 42px;
}
.unique .dropdown {
  position: relative;
  width: 100%;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #434343;
}
.unique .dropdown__button {
  display: block;
  width: 100%;
  text-align: left;
  background: #FFFFFF;
  padding: 13px 10px 12px 16px;
  border: 1px solid #DFDFDF;
  cursor: pointer;
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -ms-border-radius: 10px 10px 10px 10px;
  -o-border-radius: 10px 10px 10px 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  color: #434343;
  height: 45px;
}
.unique .dropdown__arrow {
  position: absolute;
  right: 24px;
  top: 20px;
}
.unique .dropdown__list {
  border: 1px solid #DFDFDF;
  height: 137px;
  z-index: 2;
  display: none;
  position: absolute;
  left: 0px;
  top: 32px;
  background: #FFFFFF;
  width: 100%;
  padding: 12px 5px 0 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top: none;
}
.unique .dropdown__list .dropdown__lists {
  border-top: 1px solid #DFDFDF;
  overflow-y: scroll;
  height: 117px;
  width: 99%;
  margin: 0 0 0 0;
}
.unique .dropdown__list--visible {
  display: block;
}
.unique .dropdown__list-item {
  margin: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
  color: #434343;
  padding: 0px 10px;
  border-bottom: 1px solid #C9C9C9;
  cursor: pointer;
}
.unique .dropdown__list-item:first-child {
  margin-top: 0px;
}
.unique .dropdown__list-item:hover {
  color: #2B901A;
}
.unique .dropdown__input-hidden {
  display: none;
}

h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  text-transform: uppercase;
  color: #434343;
}

h1.icon-pointsArrow::before {
  font-size: 24px;
}

h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 33px;
  text-transform: uppercase;
  color: #434343;
}

h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 28px;
  text-transform: none;
  color: #434343;
}

h3.icon-pointsArrow::before {
  font-size: 24px;
  padding: 0 8px 0 0;
  margin-left: -7px;
}

h4 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-transform: none;
  color: #434343;
}

h5 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  text-transform: none;
  color: #434343;
}

h6 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-transform: none;
  color: #434343;
}

.productDrop {
  margin: 26px 0 0 0;
}

.product__top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #C9C9C9;
  padding-bottom: 54px;
  padding-left: 2px;
}

.info__list {
  margin-top: -9px;
  margin-left: 58px;
  margin-bottom: 17px;
}

.olInfo__list {
  margin-top: -12px;
  margin-left: 59px;
  margin-bottom: 13px;
}

.olInfo__list {
  list-style-type: none;
  counter-reset: list;
}
.olInfo__list .info__listItem::before {
  content: counter(list) ".";
  counter-increment: list;
  color: #2B901A;
  font-weight: 600;
}

.footer {
  margin: 0 0 0 0;
}
.footer p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
.footer li {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #2B901A;
}
.footer .footer__left-p {
  width: 377px;
}
.footer .footer__top {
  background: #222629;
  padding: 35px 0 0 0;
}
.footer .footer__top .container {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.footer .footer__top .footer__topLeft .footet__soc {
  position: absolute;
  bottom: 24px;
  right: 1px;
  display: flex;
  gap: 11px;
}
.footer .footer__top .footer__topLeft .social {
  width: 32px;
  height: 32px;
}
.footer .footer__top .footer__topLeft .social img {
  max-width: 100%;
}
.footer .footer__top .footer__topLeft .nameCompany {
  font-family: 'Disket Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 19px;
  margin: 0 0 19px 0;
}
.footer .footer__top .footer__topLeft .nameCompany__span {
  font-size: 17px;
  line-height: 19px;
  margin: 0 0 0 -5px;
}
.footer .footer__top .footer__topLeft .icon-lamp::before {
  position: absolute;
  top: -4px;
  left: -2px;
  font-size: 27px;
}
.footer .footer__top .footer__topLeft .footer__topLeft-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
.footer .footer__top .footer__topRight {
  display: flex;
  gap: 69px;
  margin: -68px 23px 0 0;
}
.footer .footer__bottom {
  background: #F2F2F2;
}
.footer .footer__bottom .container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 4px 1px 0 2px;
}
.footer .footer__bottom .footer__bottom-text {
  display: flex;
  align-items: center;
}
.footer .footer__bottom .footer__bottom-text .bottom-text__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #434343;
  display: inline-block;
  align-items: center;
  height: 100%;
  margin: 0;
}
.footer .footer__bottom .footer__bottom-text .bottom-text__text .paregraf__link {
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
