@import "fonts";
@import "reset";

$black: #000000;

.header {
  .header__container {
    width: calc(320px + (1110 - 320) * ((100vw - 320px) / (1920 - 320)));
    margin: 0 auto;
  }

  .header__container-logo {}

  .logo {
    display: flex;
    align-items: center;
  }

  ._icon-logoCar {
    font-size: 65px;
    padding-right: 27px;
    color: $black;
    margin-top: 23px;
    margin-bottom: 17px;
  }

  .nameCompany {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: $black;

  }

  .header__mainImg {
    width: calc(320px + (1920 - 320) * ((100vw - 320px) / (1920 - 320)));
    background-image: url(../img/mainImg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: calc(353px + (590 - 353) * ((100vw - 360px) / (1920 - 360)));

  }

  .mainImg {
    width: 100%;
  }

  .bg__headerMenu {
    position: relative;
    width: 100%;
    // background: #419EF4;
  }

  .bg__headerMenu::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #419EF4;
  }

  .header__body {
    position: relative;
    z-index: 2;
    display: flex;
  }

  .header__burger {}

  .header__menu {}

  .header__list {
    display: flex;
    gap: 49px;
    padding: 15px 0 15px 0;
  }

  .item {}

  .nav__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #FFFFFF;
  }
}